.bgsapH {
  color: rgb(201, 201, 201);
  padding: 36px 40px 40px;
  font-size: 13px;
  text-align: center;
}
.gWPtBs {
  display: inline-block;
  vertical-align: middle;
  background: url(/static/qw-p2p-checkout-spa/static/media/pci.54793e1….svg) no-repeat;
  width: 47px;
  height: 19px;
  margin-right: 9px;
}
.itjQVW {
  display: inline-block;
  vertical-align: middle;
  background: url(/static/qw-p2p-checkout-spa/static/media/mir-accept.6852b68….svg) no-repeat;
  //   width: 51px;
  height: 24px;
  margin-right: 9px;
}
.ghjoyP {
  display: inline-block;
  vertical-align: middle;
  background: url(/static/qw-p2p-checkout-spa/static/media/visa-secure.b2b9da7….svg) no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 9px;
}
.kWiCjP {
  display: inline-block;
  vertical-align: middle;
  background: url(/static/qw-p2p-checkout-spa/static/media/mc-sc.fc78d7e….svg) no-repeat;
  width: 80px;
  height: 20px;
  margin-right: 9px;
}
.cuwDJR {
  line-height: 19px;
  margin-left: 30px;
}
.kQNicB {
  color: rgb(77, 77, 77);
  text-decoration: none;
  cursor: pointer;
  transition: color 200ms ease 0s;
}
a {
  background-color: transparent;
}
.dNfkQt {
  margin: 0px auto;
  max-width: 800px;
  color: rgb(201, 201, 201);
  padding: 0px 40px 20px;
  font-size: 13px;
  text-align: center;
}
.ialZuW {
  font-size: 13px;
  padding-bottom: 12px;
}
.bGdikk {
  line-height: 16px;
  margin-left: 30px;
}
